apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: remoteapps.porpulsion.io
spec:
  group: porpulsion.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                image:
                  type: string
                replicas:
                  type: integer
                  default: 1
                targetPeer:
                  type: string
              required:
                - image
            status:
              type: object
              properties:
                phase:
                  type: string
                remotePeer:
                  type: string
                lastUpdated:
                  type: string
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Image
          type: string
          jsonPath: .spec.image
        - name: Phase
          type: string
          jsonPath: .status.phase
        - name: Peer
          type: string
          jsonPath: .status.remotePeer
  scope: Namespaced
  names:
    plural: remoteapps
    singular: remoteapp
    kind: RemoteApp
    shortNames:
      - ra
