apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "porpulsion.fullname" . }}-credentials
  namespace: {{ .Values.namespace }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["secrets"]
    resourceNames: ["porpulsion-credentials"]
    verbs: ["get", "patch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["configmaps"]
    resourceNames: ["porpulsion-state"]
    verbs: ["get", "patch"]
